.button {
    background-color: #BD3B2E; /* Green */
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

    .button:hover {
        background-color: #f53d3d;
    }

.button4 {
    border-radius: 5px;
}

.tdlabel {
    width: 30%;
    font-weight: bold;
}

.myclass {
    cursor: pointer;
    color: white;
}

    .myclass:hover {
        color: black;
    }

#mydiv {
    height: 640px;
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
    #mydiv {
        /*height: 100%;*/
    }
}
