.DivBox {
    padding: 14px;
    border: 1px solid rgb(71, 143, 202);
}
.templatetables 
{	
	border-bottom: 1px solid #709bc3;
	border-right: 1px solid #709bc3;
	border-left: 1px solid #709bc3;
	border-top:1px solid #709bc3;
}

.test {
    background-color :#FFFF99
}

/*.mcbutton 
{
	margin:0 10px 0 0; 
	font-family:verdana,sans-serif;
	font-size:12px;  
	background: #A8C8E4;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top:1px solid #AFC4D5;
	color:black;
	height:19px;
	text-decoration:none;
	cursor: hand;
}*/
.mcbutton {
    height: 24px;
    margin: 0 10px 0 0;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
    color: white;
    background: #478FCA;
    text-decoration: none;
    cursor: hand;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
} 

.form_field_label
{
	PADDING-LEFT: 5px;
    COLOR: black;
	
	BACKGROUND-COLOR: #ffffff;
}

.SubTitleHeader {
	FONT-FAMILY: Tahoma, Arial,Verdana, Arial; 
	FONT: bold 8pt/20px;
	COLOR: white;	
	/*BACKGROUND-COLOR: #709BC3;*/
	/*filter: progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=40, Style=1, StartX=100,  FinishX=100, StartY=60, FinishY=0);*/

}
.TitleHeader
{
	border-bottom:solid 5px #94B9D5;
	/*BACKGROUND-COLOR:#709BC3;*/
}
.DataGridAlternate_Row {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f7f8
}
.DataGridItem_Row {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f6fb
}

.DataGridItem_Row_Selected {
	FONT-WEIGHT: normal; /*FONT-SIZE: 11px;*/ COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #E1ECFC
}

.DataGridItem_Row_Highlited {
	FONT-WEIGHT: normal; /*FONT-SIZE: 11px;*/ 
    
    COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fff7e5
}

.div5
{
	background:url(../Images/Blue/clip_middle.png); height:24px; text-align:left;FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif;FONT-WEIGHT:BOLD;font-size: 12px;
}
.div6 tr:hover
{
	background-color: #C7D9EB;
}
.div11
{
  border:0px; background:url(../Images/Blue/clip_payment_LTR.png) repeat-x; height:24px; width:8px;
}
.div12
{
	HEIGHT: 24px; background-position:center bottom; background-repeat:repeat-x; BACKGROUND-IMAGE: url(../Images/Blue/clip_middle.png);
}
.div13
{
	border:0; 
	background:url(../images/Blue/curve_SectionHeading_LTR.png) repeat-x; height:24px; width:35px;
}